NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_BLOG_ID=it77khy
VITE_NAVER_MAP_CLIENT_ID=
VITE_NAVER_MAP_LAT=
VITE_NAVER_MAP_LNG=

VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
RESEND_API_KEY=
ADMIN_EMAIL=
